# Node
node_modules
npm-debug.log
yarn-error.log

# Build outputs
dist
build
coverage

# OS/IDE
.DS_Store
Thumbs.db
.vscode
.idea

# Git
.git
.gitignore
.gitattributes

# Env
.env*

# Test/Docs
__tests__/
test/
tests/
docs/
*.spec.ts
*.e2e-spec.ts

# Misc
*.swp
*.swo
