@theme {
    --color-white: #ffffff;
    --color-black: #030712;

    --color-neutral: #8c8c91;
    --color-neutral-50: #f7f7f8;
    --color-neutral-100: #e6e6e7;
    --color-neutral-200: #d4d4d5;
    --color-neutral-300: #bfbfc2;
    --color-neutral-400: #adadb1;
    --color-neutral-500: #8c8c91;
    --color-neutral-600: #66666c;
    --color-neutral-700: #404047;
    --color-neutral-800: #33333b;
    --color-neutral-900: #1a1a23;
    --color-neutral-950: #00000a;

    --color-primary: rgb(215, 216, 254);
    --color-primary-50: oklch(97.5% 0.03 284.1);
    --color-primary-100: oklch(94.2% 0.06 282.9);
    --color-primary-200: oklch(88.4% 0.12 280.28);
    --color-primary-300: oklch(82.1% 0.18 275.52);
    --color-primary-400: oklch(74.8% 0.24 268.32);
    --color-primary-500: hsl(220, 100%, 60%);
    --color-primary-600: hsl(225, 100%, 57%);
    --color-primary-700: oklch(45.6% 0.22 264.95);
    --color-primary-800: oklch(35.4% 0.18 265.56);
    --color-primary-900: oklch(25.2% 0.12 267.26);
    --color-primary-950: oklch(15.1% 0.08 264.05);

    --color-secondary: oklch(95.572% 0.02581 231.61);
    --color-secondary-50: oklch(97.8% 0.02 231.61);
    --color-secondary-100: oklch(95.2% 0.04 231.58);
    --color-secondary-200: oklch(90.8% 0.08 233.29);
    --color-secondary-300: oklch(85.6% 0.12 235.37);
    --color-secondary-400: oklch(79.2% 0.15 239.1);
    --color-secondary-500: oklch(72.1% 0.17 244.47);
    --color-secondary-600: oklch(62.8% 0.15 244.05);
    --color-secondary-700: oklch(52.4% 0.12 243.35);
    --color-secondary-800: oklch(41.2% 0.09 241.96);
    --color-secondary-900: oklch(28.8% 0.06 237.94);
    --color-secondary-950: oklch(18.6% 0.03 226.79);

    --color-tertiary: oklch(96.776% 0.02793 210.53);
    --color-tertiary-50: oklch(96.776% 0.02793 210.53);
    --color-tertiary-100: oklch(94.267% 0.05042 210.28);
    --color-tertiary-200: oklch(89.842% 0.08919 210.89);
    --color-tertiary-300: oklch(85.855% 0.1198 212.83);
    --color-tertiary-400: oklch(82.885% 0.13885 215.08);
    --color-tertiary-500: oklch(79.51% 0.14358 218.78);
    --color-tertiary-600: oklch(66.985% 0.12091 218.72);
    --color-tertiary-700: oklch(54.099% 0.09698 217.62);
    --color-tertiary-800: oklch(40.106% 0.07162 216.97);
    --color-tertiary-900: oklch(24.727% 0.04373 215.21);
    --color-tertiary-950: oklch(16.247% 0.02792 207.93);

    --color-successful: oklch(96.712% 0.02628 159.6);
    --color-successful-50: oklch(96.712% 0.02628 159.6);
    --color-successful-100: oklch(94.079% 0.04839 159.24);
    --color-successful-200: oklch(88.779% 0.09174 157.93);
    --color-successful-300: oklch(84.2% 0.13318 155.78);
    --color-successful-400: oklch(79.886% 0.1686 153.62);
    --color-successful-500: oklch(75.752% 0.19196 151.08);
    --color-successful-600: oklch(63.864% 0.16064 151.15);
    --color-successful-700: oklch(51.715% 0.12778 151.34);
    --color-successful-800: oklch(38.481% 0.0913 152.1);
    --color-successful-900: oklch(24.367% 0.05144 153.21);
    --color-successful-950: oklch(16.048% 0.02819 159.48);

    --color-error: oklch(95.793% 0.01971 9.7784);
    --color-error-50: oklch(95.793% 0.01971 9.7784);
    --color-error-100: oklch(90.58% 0.04624 11.407);
    --color-error-200: oklch(80.409% 0.10379 12.151);
    --color-error-300: oklch(71.7% 0.16303 15.185);
    --color-error-400: oklch(64.779% 0.21385 19.693);
    --color-error-500: oklch(61.125% 0.24238 25.274);
    --color-error-600: oklch(52.513% 0.20942 25.614);
    --color-error-700: oklch(42.938% 0.16951 24.97);
    --color-error-800: oklch(32.533% 0.12657 23.83);
    --color-error-900: oklch(21.534% 0.07976 21.166);
    --color-error-950: oklch(15.325% 0.05207 15.944);

    --color-warning: oklch(97.951% 0.02602 90.094);
    --color-warning-50: oklch(97.951% 0.02602 90.094);
    --color-warning-100: oklch(95.967% 0.05156 90.199);
    --color-warning-200: oklch(92.246% 0.09746 89.601);
    --color-warning-300: oklch(88.991% 0.13828 89.374);
    --color-warning-400: oklch(85.881% 0.16346 86.673);
    --color-warning-500: oklch(82.981% 0.17101 81.929);
    --color-warning-600: oklch(70.296% 0.14466 82.596);
    --color-warning-700: oklch(56.8% 0.11683 82.85);
    --color-warning-800: oklch(42.664% 0.0875 84.501);
    --color-warning-900: oklch(27.216% 0.05562 88.668);
    --color-warning-950: oklch(18.58% 0.038 91.653);

    --color-info: oklch(95.38% 0.02191 274.74);
    --color-info-50: oklch(95.38% 0.02191 274.74);
    --color-info-100: oklch(89.528% 0.05068 273.1);
    --color-info-200: oklch(77.786% 0.11258 272.41);
    --color-info-300: oklch(66.471% 0.17725 270.26);
    --color-info-400: oklch(56.371% 0.23931 267.02);
    --color-info-500: oklch(49.01% 0.28753 264.33);
    --color-info-600: oklch(41.985% 0.24884 264.08);
    --color-info-700: oklch(34.485% 0.19969 263.99);
    --color-info-800: oklch(26.435% 0.14805 263.83);
    --color-info-900: oklch(18.002% 0.08949 262.86);
    --color-info-950: oklch(13.484% 0.05762 260.82);
}