@reference '../../../../../styles.css';

.chart-container {
    @apply bg-white dark:bg-gray-800 p-4 rounded-lg shadow;
}
.chart-title {
    @apply text-lg font-semibold;
}
.chart-placeholder {
    @apply h-64 flex items-center justify-center text-gray-400;
}

.chart-wrapper {
    height: 250px; /* Adjust height as needed */
    position: relative;
}

.chart-empty-state {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
