<div class="stats-container">
    @if (stats()) {
    <div class="stat-item">
        <div class="stat-icon-wrapper bg-primary-100 text-primary-600">
            <fa-icon [icon]="['fas', 'cubes']"></fa-icon>
        </div>
        <div class="stat-info">
            <p class="stat-label">Total de Recursos</p>
            <p class="stat-value">{{ stats()?.total_recursos }}</p>
        </div>
    </div>
    <div class="stat-item">
        <div class="stat-icon-wrapper bg-successful-100 text-successful-600">
            <fa-icon [icon]="['fas', 'check-circle']"></fa-icon>
        </div>
        <div class="stat-info">
            <p class="stat-label">Recursos Activos</p>
            <p class="stat-value">{{ stats()?.recursos_activos }}</p>
        </div>
    </div>
    <div class="stat-item">
        <div class="stat-icon-wrapper bg-info-100 text-info-600">
            <fa-icon [icon]="['fas', 'box-open']"></fa-icon>
        </div>
        <div class="stat-info">
            <p class="stat-label">Recursos Disponibles</p>
            <p class="stat-value">{{ stats()?.recursos_disponibles }}</p>
        </div>
    </div>
    <div class="stat-item">
        <div class="stat-icon-wrapper bg-warning-100 text-warning-600">
            <fa-icon [icon]="['fas', 'tasks']"></fa-icon>
        </div>
        <div class="stat-info">
            <p class="stat-label">Recursos Asignados</p>
            <p class="stat-value">{{ stats()?.recursos_asignados }}</p>
        </div>
    </div>
    } @else {
    <p class="loading-text">Cargando estadisticas...</p>
    }
</div>
